:root {
    --header_title: #e4dccd;
    --header_title_2: #e4dccd;
    --header_title_hover: #e4dccd;
    --header_title_2_hover: #e4dccd;
    --brown_header_background : radial-gradient(circle, var(--light_shade) 0%, var(--darker_shade) 100%);
    --brown_interface_background: radial-gradient(circle, var(--dark_shade) 0%, var(--darker_shade) 100%);
    --brown_background: radial-gradient(circle, var(--light_shade) 0%, var(--dark_shade) 100%);
    --light_brown_background : radial-gradient(circle, rgb(255,255,255) 0%, var(--lighter_shade) 100%);
    --green_header_background: radial-gradient(circle, var(--light_green) 0%, var(--darker_green) 100%);
    --green_interface_background: radial-gradient(circle, var(--dark_green) 0%, var(--darker_green) 100%);
    --green_background: radial-gradient(circle, var(--light_green) 0%, var(--dark_green) 100%);
    --lighter_shade: #e4dccd;
    --light_shade: rgb(168,123,113);
    --dark_shade: #88645c;
    --darker_shade: #674b45;
    --light_green: #949e88;
    --dark_green: #4d5740;
    --darker_green: #353d2a;
    --body_background: #0f0f0f;
    --burger_icon: #e4dccd;
    --burger_icon_hover: #e4dccd;
    --burger_title: #e4dccd;
    --burger_gap: #8e6b29;
    --burger_list_background: #ce9165;
    --burger_list_background_hover: #976949;
    --burger_list_text: #000;
    --burger_text_hover: #ff6dc6;
    --footer_links: #000000;
    --footer_titles: #e4dccd;
    --footer-titles_hover: #ff6dc6;
}
/* TEXT SPANS SETTINGS */
.red{color: rgb(209, 0, 0);}
.blue{color:blue;}
.green{color:green;}
.bold{font-weight:bold;}

/* GLOBAL SETTINGS FOR PAGE MANAGEMENT */
html,body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}
#index_body{
    background: url("images/index_background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#cursus_body{
    background: url("images/cursus_background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#about_body{
    background: url("images/about_background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
main{
    width:100%;
}

/* MAIN TITLES SETTINGS */
#title{
    width:100%;
    padding: 34px 0 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
#h1{
    text-decoration: none;
    color: var(--header_title);
    font-family: "Yatra One", serif;
    font-size: calc(18px + 2.5vw);
    text-shadow: 2px 2px var(--darker_shade);
    font-weight: 500;
    vertical-align: middle;
}
#h1:hover{
    color: var(--header_title_hover);
}
#h2{
    color: var(--header_title_2);
    width: 100%;
    display: flex;
    letter-spacing: calc(7px + 1vw);
    text-indent: calc(4px + 2vw);
    justify-content: center;
    font-size: 18px;
    cursor: default;
}
#h2:hover{
    color: var(--header_title_2_hover);
}
#about_title, #title>div{
    display: none;
    background: var(--darker_shade);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

    position: absolute;
    right: 20px;
    width: 130px;
    padding: 2px;
    border-radius: 6px;
    margin: 0 35px;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    color: var(--burger_icon);
    font-family: "Yatra One", serif;
    z-index: 201;
}

/* HEADER AND BURGER MENU SETTINGS MOBILE */
#index_header{
    padding: 0 20px 30px;
    background: var(--brown_header_background);
    background-size: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    width:100%;
    display:flex;
    flex-flow: wrap row-reverse;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
#burger_title{ /* title shown when device width less than 300px */
    display:none;
    color: var(--burger_title);
    font-family: "Yatra One", serif;
    font-size: calc(16px + 2vw);
    font-weight: 500;
    line-height:24px;
    padding:8px 0;
    vertical-align: top;
    background-color: var(--brown_interface_background);
}
#menu-burger{
    position:absolute;
    z-index: 300;
}
#menu-burger>label{ /* each label setting defines the burger icon and its appearance */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--darker_shade);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    gap:12px;
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 201;
    transition: padding-left 0.3s linear;
}
#menu-burger>label div{
    background: var(--burger_icon);
    transition: transform 0.3s ease-out;
    height: 5px;
    width: 48px;
}
#menu-burger>label:hover div{
    background: var(--burger_icon_hover)
}
#menu-burger>label .bar_middle{
    transition: 0s visibility 0.18s ease-in
}
#menu-burger>label .bar_top{
    transform-origin: left top;
    transform: rotateZ(0deg);
}
#menu-burger>label .bar_bottom{
    transform-origin: left bottom;
    transform: rotateZ(0deg);
}
.header_list{ /* following settings define what the inside of the menu looks like */
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.menu-burger_list{
    overflow: hidden;
    visibility:hidden;
    position: absolute;
    width: 100vw;
    top: 103px; right:-21px;
    gap:2px;

    list-style:none; padding:0;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: var(--brown_interface_background);
    color: var(--burger_list_text);
    z-index: 100;
}
.burger_list_element{
    display: flex;
    flex-direction: column; align-items: center;
    width:100%;

    text-decoration: none;
    color: var(--darker_shade);
    font-size: 18px;
    text-align: center;
    line-height: 54px;
    text-decoration: none;
    font-weight: bold;
    background: var(--lighter_shade);
}
.burger_list_element:hover{
    color: var(--burger_text_hover);
}
#selectburger{ /* input settings are to control when the menu is shown or hidden */
    display:none;
}
#selectburger:not(:checked) ~ nav .menu-burger_list{
    opacity: 0;
    visibility: hidden;
}
#selectburger:checked ~ nav .menu-burger_list{
    opacity: 1;
    visibility: visible;
}
#selectburger:checked ~ nav label{
    padding-left: 12px;
}
#selectburger:checked ~ nav .bar_middle{
    transition: visibility 0s;
    visibility: hidden;
}
#selectburger:checked ~ nav .bar_top{
    transform-origin: left;
    transform: rotate(45deg);
    background: var(--burger_icon_hover);
}
#selectburger:checked ~ nav .bar_bottom{
    transform-origin: left;
    transform: rotate(-45deg);
    background: var(--burger_icon_hover);
}

/* MAIN INDEX */
#index_main{
    overflow: hidden;
}
.index_flex{
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    gap:65px;
    padding: 60px 0 100px;
}
.index_flex>h3{
    font-family: "Yatra One", serif;
    max-width: 1000px;
    font-size: 32px;
    text-align: center;
    letter-spacing: 2px;
    color: var(--darker_shade);
    text-shadow: 2px 2px var(--light_shade);
    background: radial-gradient(circle, #fff 0%, #e7e1d7c9 65%, rgb(0,0,0,0.01) 100%);
}
.contact-socialmedia{
    width: 80%;
    background: var(--brown_background);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    pointer-events: none;
}
.contact-socialmedia>a{
    pointer-events: all;
}
.contact-socialmedia:has(a:hover){
    background: var(--brown_interface_background);
}
.contact-cv{
    width: 100%;
    height: 75px;
    transition: height 0.9s ease;
    border-radius: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    padding: 15px;

    font-size: 18px;
    color: var(--lighter_shade);
    font-family: "Yatra One", serif;
    font-size: calc(14px + 2.5vw);
    text-shadow: 2px 2px var(--darker_shade);
    text-align: center;

    background: url("images/cv_background.png");
    background-size: cover;
}
.contact-cursus{
    background: url("images/follow_background.png");
}
.bio_figure{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.bio_figure>img{
    width:350px;
    height: 350px;
    object-fit: cover;
    border-radius: 62% 38% 68% 32% / 40% 30% 70% 60%;
    border: 4px solid var(--darker_shade);
}
.bio_figure>h2{
    padding: 0 10px;
    background: var(--brown_interface_background);
    border-radius: 15px;

    font-family: "Yatra One", serif;
    text-shadow: 2px 2px var(--darker_shade);
    text-align: center;
    font-weight: bold;
    color: var(--lighter_shade);
    font-size: 28px;
    line-height: 52px;
    vertical-align: middle;
}
.bio_text{
    background: var(--light_brown_background);
    padding: 1rem 10px 1rem 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    width:100%;
    max-width:1200px;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
    text-align: justify;
    color: var(--darker_shade);
    font: 100;
    font-size: 13px;
}
.reals_preview{
    width:100%;
    max-width:1200px;
    overflow: hidden;
    border-radius: 20px;
}
.reals_header{
    width:100%;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: var(--brown_background);
}
.reals_header>a{
    font-family: "Yatra One", serif;
    text-shadow: 2px 2px var(--darker_shade);
    text-align: center;
    font-weight: bold;
    color: var(--lighter_shade);
    font-size: 28px;
}
.reals_flex{
    padding: 24px 0 10px;
    display:flex;
    flex-flow: nowrap row;
    justify-content: flex-start;
    gap: 12px;
    overflow-x: scroll;
    background: rgb(168,123,113,0.8);
}
.reals_flex::-webkit-scrollbar {
    width: 15px;
}
.reals_flex::-webkit-scrollbar-track {
    background: var(--brown_background);
}
.reals_flex::-webkit-scrollbar-thumb {
    background: var(--lighter_shade);
    border-radius: 10px;
}
.reals_block{
    flex-shrink: 0;
    position:relative;
    width: 290px;
}
.reals_img{
    width:100%;
    height:250px;
    object-fit: cover;
    object-position: right;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.amd_img{
    object-position: left;
}
.reals_title{
    background: var(--brown_background);
    padding: 12px 8px;
    height: 120px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    color: var(--lighter_shade);
    letter-spacing: 0.1em;
    font-size: 12px;
}

/* CURSUS PAGE */
.cursus_flex{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:45px;
    padding: 0 0 45px;
}
.cursus-socialmedia{
    position: sticky;
    top:0;
    width: 46%;
    max-width:550px;
    min-width:175px;
    background: rgb(168,123,113,0.8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 6px;
    z-index: 201;
}
.cursus_block{
    margin-bottom: 45px;
    width:100%;
}
.cursus_block>h2{
    width: 100%;
    color: var(--lighter_shade);
    background: var(--green_background);
    text-align: center;
    letter-spacing: 0.1em;
    text-indent: 0.1em;
    font-size: 20px;
    padding: 18px 0;
}
.timeline-event{ /* timeline settings for animating and mobile display (all left) */
    position: relative;
    padding: 20px 0;
}
.timeline-event::before{
    content:"";
    position :absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    opacity:0.5;
    background: var(--lighter_shade);
    z-index:-1;
}
.timeline-container{
    padding: 10px 50px;
    position: relative;
    width: 100%;
    animation: movedown 1s linear forwards;
    opacity: 0%;
}
@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.timeline-event::after{
    content:'';
    position:absolute;
    width: 6px;
    border-radius: 20px;
    background-color: var(--dark_green);
    top:-6px;
    left: 5%;
    margin-left: -3px;
    animation: moveline 2s linear forwards;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height:100% ;
    }
}
.timeline-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top:28px;
    z-index:1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--darker_green);
    left: -15px;
}
.timeline-content{
    background-color: var(--lighter_shade);
    padding: 20px 30px;
    position: relative;
    border: 2px solid var(--darker_green);
    border-radius: 5px;
}
.timeline-content>h2{
    color:var(--darker_shade);
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 14px;
}
.timeline-content h3{
    text-align: left;
    letter-spacing: 0.2em;
    font-size: 12px;
}
.timeline-content p{
    text-align: justify;
    letter-spacing: 0.1em;
    font-size: 10px;
}
.works-gallery_articles{
    position: relative;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    width: 100%;
    gap:16px;
    padding: 10px 16px;
}
.works-gallery_articles::before{
    content:"";
    position :absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    opacity:0.5;
    background: var(--lighter_shade);
    z-index:-1;
}
.works_block{
    position:relative;
    width: 400px;
    object-fit: cover;
    transition: scale 0.4s ease, padding-bottom 0.5s ease-out;
    z-index: 200;
}
.works_block>img{
    width:100%;
    height:190px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 200;
}
.block_text{
    pointer-events: none;
    width: 100%;
    height: 212px;
    background:#ffffffa3;
    position: absolute;
    backdrop-filter: blur(5px);
    padding:7px;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    text-align: justify;
    z-index: -1;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    top:50px;
    transition: top 0.5s ease-out;
}
.mobile_links{
    position: absolute;
    padding: 0 2px;
    height:32px;
    text-align: right;
    top: 232px;
    right: 20px;
    z-index: -1;
    text-decoration: underline;
    color: rgb(82, 82, 255);
    transition: top 0.5s ease-out, z-index 0.2s linear;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
} 
.block_footer{
    background: var(--green_background);
    padding: 12px 8px;
    height: 95px;
    display:flex;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.works_title{
    color: var(--lighter_shade);
    letter-spacing: 0.1em;
    font-size: 10px;
}
.open, .close{
    margin-right:6px;
    width:32px;
    height:32px;
}
.close{transform:scaleY(-100%)
}
.inputblock, .close{ /* checks are checkboxes to state if fansite menues are opened or closed */
    display:none;
}

.works-gallery_video{
    background: var(--gallery_background);
    padding: 30px 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.works-gallery_video iframe{
    width:30%;
    aspect-ratio: 4/3;
    border-radius: 8%;
    border: 2px solid var(--video_border);
}

/* INDEX FOOTER */
#index_footer{
    padding-top: 23px;
    background: var(--brown_header_background);
}
#index_footer hr{
    background-color: var(--footer_links);
    border: 0;
    height: 2px
}
#index_footer nav{
    padding-top:23px;
    padding-bottom: 230px;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:24px;
    width:100%;
}
#index_footer nav div{
    width:90%;
}
#index_footer a{
    color: var(--lighter_shade);
    font-size: calc(13px + 1vw);
    font-family: "Rubik", sans-serif;
    vertical-align: middle;
}
#index_footer h2{
    font-family: "Yatra One", serif;
    text-shadow: 2px 2px var(--darker_shade);
    color: var(--footer_titles);
    text-align: center;
    font-size: calc(28px + 1vw);
}
#index_footer ul{
    width:100%;
    padding:0;
    list-style-type: none;
}
#index_footer li{
    margin-bottom: 24px;
    text-align: center;
}
#index_footer li::before{
    content: "🌿 ";
}

#index_footer adress{
    width: 100%;
    padding: 6px 0;
    color:#fff;
    font-size: calc(9px + 1vw);
    line-height: 24px;;
    vertical-align: middle;
    background-color: #000;
}

/* MEDIA QUERIES */
@media only screen and (max-width:300px){
    /* Main title is hidden and burger menu adapted on very thin devices */
    #title{
        display:none;
    }
    #burger_title{
        display:block
    }
    #index_header h2{
        padding-top:94px;
    }
    #menu-burger>label{
        gap:12px;
        width: 65px;
        height: 65px;
        position: relative;
        z-index: 100;
    }
    #menu-burger>label>div{
        background-color: #ffffff;
        height: 5px;
        width: 48px;
    }
    .fansite_label :is(img, div){
        margin-right: 11px;
    }
    .index_flex>h3{
        font-size: 24px;
    }
    .timeline-container{
        padding: 10px 20px 10px 35px;
    }
    .timeline-content{
        padding: 15px 10px;
    }
    .block_text{
        font-size: calc(4px + 2.5vw);
    }
    .works_title>h3{
        display:none;
    }
}

@media only screen and (min-width:600px){
    /* TABLET DISPLAY header, title and paragraphs size */
    #index_header{flex-direction: row;}
    #h1{
        font-size: 36px;
    }
    .menu-burger_list{
        width: 350px;
        top: 65px; left:7px;
        border-radius: 15px;
        box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
    }
    .fansite_label :is(img, div){
        margin-right: 17px;
    }
    /* CURSUS */
    .cursus_flex>h2, .works-gallery>h2{
        font-size: 24px;
    }
    .timeline-container{
        padding: 10px 50px;
        position: relative;
        width: 50%;
        animation: movedown 1s linear forwards;
        opacity: 0%;
    }
    .timeline-event::after{
        background-color: var(--light_green);
        left: 50%;
    }
    .right-timeline{
        left: 50%;
    }
    .timeline-arrow{
        display: none;
    }
    .arrow_right{
        display:block;
        height: 0;
        width: 0;
        position: absolute;
        top:28px;
        z-index:1;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        left: -15px;
    }
    .arrow_left{
        display:block;
        height: 0;
        width: 0;
        position: absolute;
        top:28px;
        z-index:1;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid var(--dark_green);
        right: -15px;
    }
    .timeline-event h3{
        text-align: left;
        letter-spacing: 0.1em;
        font-size: 13px;
    }
    .timeline-event p{
        text-align: justify;
        letter-spacing: 0.1em;
        font-size: 11px;
    }
}

@media only screen and (min-width:870px){
    /* DESKTOP DISPLAY with header, main and footer adjustments */
    #index_header{flex-direction: row;}
    #h1{font-size: 48px;}
    #index_header nav label{cursor: pointer;}
    #title{
        justify-content: center;
        padding-left: 45px;
        padding-right: 45px;
    }
    #about_title, #title>div{
        display:block;
    }
    #index_main{
        display:flex;
        justify-content: center;
    }
    .index_flex>h3{
        font-size: 48px;
    }
    .contact-socialmedia{
        width: 56%;
    }
    .contact-cv{
        width: 80%;
        height: 100px;
    }
    .contact-cv:hover{
        height: 120px;
    }
    .bio_text{
        width: 82%;
        font-size: 18px;
    }
    .reals_preview{
        width: 82%;
    }
    /* CURSUS PAGE */
    .works_block:hover{
        transition: scale 0.6s ease;
        scale: 1.08;
    }
    .works_block>img{
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 13px;
        border-bottom-left-radius: 13px;
    }
    .block_text{
        pointer-events: all;
        visibility:hidden;
        opacity: 0;
        position:absolute;
        width: 100%;
        height: 190px;
        padding:7px;
        text-align: justify;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 13px;
        border-bottom-left-radius: 13px;
        transition: opacity 0.4s ease;
        font-size: 16px;
        top:0;
        z-index: 1;
    }
    .mobile_links, .open, .close{
        display: none;
    }
    .works_block label{
        pointer-events: none;
    }
    .works_block:hover>a{
        visibility: visible;
        opacity: 1;
        transition: visibility 0s 0.6s opacity 0.6s ease;
    }
    .block_footer{
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 13px;
        border-bottom-left-radius: 13px;
    }

    /* footer size changes */
    #index_footer nav{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #index_footer ul{
        width: 25%;
    }
    #index_footer a{
        font-size: 20px;
    }
    #index_footer h2{
        text-align: left;
        font-size: 36px;
    }
    #index_footer>adress{
        font: size 16px;
    }
}